<ion-view view-title="Unicorns">
  <ion-content class="padding" ng-controller="UnicornsCtrl">
    <h2>Unicorns!</h2>
    <p>
    Here are some unicorns:
    </p>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="number" placeholder="How many of 'em do you want to see?" ng-model="search.limit">
        </label>
    </div>

    <button class="button button-block button-calm" ng-click="setData()">Show me some unicorns!</button>

    <img ng-repeat="url in urls" ng-src="{{url}}" class="image-list-thumb">
  </ion-content>
</ion-view>
