<ion-view view-title="Account">
  <ion-content>
  <br>
  <br>
  <br>
  <br>
<!--              <input type="submit" value="Register">
 -->
    <form name="searchForm" class="item item-input" ng-controller="AccountCtrl" ng-submit="completeSearch()">
      <i class="icon ion-search placeholder-icon"></i>
      <input name="searchParam" type="text" ng-model="search.searchParam">
      <input type="submit" value="Search">
    </form>

    <p>Your search results</p>
    <p>Url: {{search.apiUrl}}</p>
    <p>Search Param: {{search.searchParam}}</p>
    <p>Key: {{search.apiKey}}</p>

    <img ng-repeat="url in urls" ng-src="{{url}}" class="image-list-thumb">
  </ion-content>
</ion-view>
