<!-- <ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->

<ion-view view-title="Trending">
  <ion-content ng-controller="TrendingCtrl">
    <p>Trending</p>
    <img ng-repeat="url in urls" ng-src="{{url}}" class="image-list-thumb">
  </ion-content>
</ion-view>