<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Unicorns" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/unicorns">
    <ion-nav-view name="tab-unicorns"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Trending" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


</ion-tabs>
