.purple-box {
  background-color:
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}

.image-modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.transparent {
  background: rgba(50,0,50,0.5);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}